.App {
  text-align: center;
  height: auto;
}
.LayoutContainer {
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
  align-items: center;
}
.productContainer,
.cart {
  height: auto;
  width: 100%;
  min-height: 29rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.productImage {
  width: 60%;
  height: 50%;
  border-radius: 12px;
  object-fit: cover;
}

.singleProduct,
.cartProduct {
  width: 40%;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: right;
  background-color: mediumorchid;
  padding: 9px;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header {
  color: mediumorchid;
}

.button {
  border: none;
  background-color: mediumorchid;
  color: white;
  padding: 7px;
  margin: 0px;
  border-radius: 6px;
  cursor: pointer;
}
